## Data

In [5]:
# Import 
import pandas as pd
import numpy as np

####### pip install openpyxl
# Read xlsx
df_FP2 = pd.read_excel('FP2_HF_DataValues.xlsx')
# Read Data.csv
data = pd.read_csv('C:/Users/mathi/OneDrive/Skrivebord/2_Sem_Kand/Projekt_Kandidat2/DataPrep.csv')

## Print all DataTypeLabel in df_FP2
# df_FP2['DataTypeLabel'].unique() # 'Blodtryk, Systolisk', 'Blodtryk, Diastolisk', 'Puls', 'Vægt', 'Skridt'

df_FP2

,SubjectId,TimeMeasrd,DataSrcId,DataTypeId,DataTypeLabel,Value,Unit
0,431,2020-10-07 16:45:46,7,2,"Blodtryk, Systolisk",160.000000,mmHg
1,431,2020-10-07 16:45:46,7,3,"Blodtryk, Diastolisk",69.000000,mmHg
2,431,2020-10-07 16:45:46,7,4,Puls,65.000000,BPM
3,431,2020-10-07 16:48:19,7,1,Vægt,78.250000,kg
4,431,2020-10-07 16:48:46,7,1,Vægt,75.900002,kg
...,...,...,...,...,...,...,...
27297,554,2023-02-28 05:27:23,7,1,Vægt,78.750000,kg
27298,554,2023-03-01 04:36:28,7,1,Vægt,78.250000,kg
27299,554,2023-03-01 04:38:02,7,2,"Blodtryk, Systolisk",128.000000,mmHg
27300,554,2023-03-01 04:38:02,7,3,"Blodtryk, Diastolisk",73.000000,mmHg
27301,554,2023-03-01 04:38:02,7,4,Puls,65.000000,BPM

In [6]:
data.head(7)

,Unnamed: 0,id,device,user_id,from,to,avg_hr,avg_rr,avg_act,calc_data,...,GENDER,NYHABL,EFTITBL,EJREHABBL,EJFINISHBL,WEIGHTBL,HEIGHTBL,BPSYSBL,BPDIABL,HRB
0,16201,5f7e0ab04a207808e008dac6,1EFD48,NaN,1602086420,1602095731,58.6,9.1,285.9,"[[1602086424,null,null,757],[1602086428,null,n...",...,0.0,2.0,30.0,35.0,35.0,74.1,192.0,130.0,45.0,59.0
1,16202,5f7ec3b3765d9b08e03c5211,1EFD48,NaN,1602104992,1602143148,62.9,16.4,313.6,"[[1602104996,null,null,110],[1602105000,null,n...",...,0.0,2.0,30.0,35.0,35.0,74.1,192.0,130.0,45.0,59.0
2,16203,5f7f6eae2eb84708e0d88f54,1EFD48,NaN,1602175075,1602186881,58.8,7.8,134.1,"[[1602175076,null,null,86],[1602175080,null,nu...",...,0.0,2.0,30.0,35.0,35.0,74.1,192.0,130.0,45.0,59.0
3,16204,5f7ff574b2cf6908e0d28fcf,1EFD48,NaN,1602191290,1602221363,59.6,16.2,268.9,"[[1602191292,null,null,80],[1602191296,null,nu...",...,0.0,2.0,30.0,35.0,35.0,74.1,192.0,130.0,45.0,59.0
4,16205,5f81553968df9708e069c7b1,1EFD48,NaN,1602278207,1602311453,60.3,16.1,285.7,"[[1602278210,null,null,172],[1602278214,null,n...",...,0.0,2.0,30.0,35.0,35.0,74.1,192.0,130.0,45.0,59.0
5,16206,5f81b8d9d39c2408e04db084,1EFD48,NaN,1602316070,1602336929,61.2,15.0,672.4,"[[1602316073,null,null,650],[1602316077,null,n...",...,0.0,2.0,30.0,35.0,35.0,74.1,192.0,130.0,45.0,59.0
6,16207,5f840089721a6c08e0d9accb,1EFD48,NaN,1602347700,1602486374,59.9,16.8,290.5,"[[1602347703,null,null,315],[1602347707,null,n...",...,0.0,2.0,30.0,35.0,35.0,74.1,192.0,130.0,45.0,59.0